h1,
ol,
ul,
li,
button {
 margin:0;
 padding:0
}
button {
 border:none;
 background:none
}
body {
 background:#202124
}
body,
input,
button {
 font-size:14px;
 font-family:arial,sans-serif;
 color:#bdc1c6
}
a {
 color:#8ab4f8;
 text-decoration:none
}
a:hover,
a:active {
 text-decoration:underline
}
a:visited {
 color:#c58af9
}
html,
body {
 min-width:400px;
}
body,
html {
 height:100%;
 margin:0;
 padding:0
}
.gb_2a:not(.gb_Id) {
 font:13px/27px Roboto,RobotoDraft,Arial,sans-serif;
 z-index:986
}
@-moz-keyframes gb__a {
 0% {
  opacity:0
 }
 50% {
  opacity:1
 }
}
@keyframes gb__a {
 0% {
  opacity:0
 }
 50% {
  opacity:1
 }
}
a.gb_W {
 border:none;
 color:#4285f4;
 cursor:default;
 font-weight:bold;
 outline:none;
 position:relative;
 text-align:center;
 text-decoration:none;
 text-transform:uppercase;
 white-space:nowrap;
 -moz-user-select:none
}
a.gb_W:hover:after {
 background-color:rgba(0,0,0,.12);
 content:'';
 height:100%;
 left:0;
 position:absolute;
 top:0;
 width:100%
}
a.gb_W:focus:after {
 background-color:rgba(0,0,0,.12);
 content:'';
 height:100%;
 left:0;
 position:absolute;
 top:0;
 width:100%
}
a.gb_W:hover {
 text-decoration:none
}
a.gb_W:focus {
 text-decoration:none
}
a.gb_W:active {
 background-color:rgba(153,153,153,.4);
 text-decoration:none
}
a.gb_X {
 background-color:#4285f4;
 color:#fff
}
a.gb_X:active {
 background-color:#0043b2
}
.gb_Z {
 -moz-box-shadow:0 1px 1px rgba(0,0,0,.16);
 box-shadow:0 1px 1px rgba(0,0,0,.16)
}
.gb_W,
.gb_X,
.gb_0,
.gb_1 {
 display:inline-block;
 line-height:28px;
 padding:0 12px;
 -moz-border-radius:2px;
 border-radius:2px
}
.gb_0 {
 background:#f8f8f8;
 border:1px solid #c6c6c6
}
.gb_1 {
 background:#f8f8f8
}
.gb_0,
#gb a.gb_0.gb_0,
.gb_1 {
 color:#666;
 cursor:default;
 text-decoration:none
}
#gb a.gb_1.gb_1 {
 cursor:default;
 text-decoration:none
}
.gb_1 {
 border:1px solid #4285f4;
 font-weight:bold;
 outline:none;
 background:#4285f4;
 background:-moz-linear-gradient(top,#4387fd,#4683ea);
 background:linear-gradient(top,#4387fd,#4683ea);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=0)
}
#gb a.gb_1.gb_1 {
 color:#fff
}
.gb_1:hover {
 -moz-box-shadow:0 1px 0 rgba(0,0,0,.15);
 box-shadow:0 1px 0 rgba(0,0,0,.15)
}
.gb_1:active {
 -moz-box-shadow:inset 0 2px 0 rgba(0,0,0,.15);
 box-shadow:inset 0 2px 0 rgba(0,0,0,.15);
 background:#3c78dc;
 background:-moz-linear-gradient(top,#3c7ae4,#3f76d3);
 background:linear-gradient(top,#3c7ae4,#3f76d3);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3c7ae4,endColorstr=#3f76d3,GradientType=0)
}
.gb_ya {
 display:none!important
}
.gb_za {
 visibility:hidden
}
.gb_hd {
 display:inline-block;
 vertical-align:middle
}
.gb_zf {
 position:relative
}
.gb_A {
 display:inline-block;
 outline:none;
 vertical-align:middle;
 -moz-border-radius:2px;
 border-radius:2px;
 -moz-box-sizing:border-box;
 box-sizing:border-box;
 height:40px;
 width:40px;
 color:#000;
 cursor:pointer;
 text-decoration:none
}
#gb#gb a.gb_A {
 color:#000;
 cursor:pointer;
 text-decoration:none
}
.gb_4a {
 border-color:transparent;
 border-bottom-color:#fff;
 border-style:dashed dashed solid;
 border-width:0 8.5px 8.5px;
 display:none;
 position:absolute;
 left:11.5px;
 top:43px;
 z-index:1;
 height:0;
 width:0;
 -moz-animation:gb__a .2s;
 animation:gb__a .2s
}
.gb_5a {
 border-color:transparent;
 border-style:dashed dashed solid;
 border-width:0 8.5px 8.5px;
 display:none;
 position:absolute;
 left:11.5px;
 z-index:1;
 height:0;
 width:0;
 -moz-animation:gb__a .2s;
 animation:gb__a .2s;
 border-bottom-color:#ccc;
 border-bottom-color:rgba(0,0,0,.2);
 top:42px
}
x:-o-prefocus {
 border-bottom-color:#ccc
}
div.gb_5a {
 border-bottom-color:#ccc
}
.gb_C {
 background:#fff;
 border:1px solid #ccc;
 border-color:rgba(0,0,0,.2);
 color:#000;
 -moz-box-shadow:0 2px 10px rgba(0,0,0,.2);
 box-shadow:0 2px 10px rgba(0,0,0,.2);
 display:none;
 outline:none;
 overflow:hidden;
 position:absolute;
 right:8px;
 top:62px;
 -moz-animation:gb__a .2s;
 animation:gb__a .2s;
 -moz-border-radius:2px;
 border-radius:2px;
 -moz-user-select:text
}
.gb_hd.gb_ja .gb_4a,
.gb_hd.gb_ja .gb_5a,
.gb_hd.gb_ja .gb_C,
.gb_ja.gb_C {
 display:block
}
.gb_hd.gb_ja.gb_Af .gb_4a,
.gb_hd.gb_ja.gb_Af .gb_5a {
 display:none
}
.gb_Bf {
 position:absolute;
 right:8px;
 top:62px;
 z-index:-1
}
.gb_Ha .gb_4a,
.gb_Ha .gb_5a,
.gb_Ha .gb_C {
 margin-top:-10px
}
.gb_hd:first-child {
 padding-left:4px
}
#gbsfw:first-child+.gb_hd {
 padding-left:4px
}
.gb_na.gb_Re .gb_hd:first-child {
 padding-left:0
}
.gb_Se {
 position:relative
}
.gb_Sc .gb_Se,
.gb_Zd .gb_Se {
 float:right
}
.gb_A {
 padding:8px;
 cursor:pointer
}
.gb_na .gb_9c:not(.gb_W):focus img {
 background-color:rgba(0,0,0,0.20);
 outline:none;
 -moz-border-radius:50%;
 border-radius:50%
}
.gb_Te button:focus svg,
.gb_Te button:hover svg,
.gb_Te button:active svg {
 outline:none;
 -moz-border-radius:50%;
 border-radius:50%
}
.gb_A:focus {
 outline:none;
 -moz-border-radius:50%;
 border-radius:50%
}
.gb_A:hover {
 outline:none;
 -moz-border-radius:50%;
 border-radius:50%
}
.gb_A:active {
 outline:none;
 -moz-border-radius:50%;
 border-radius:50%
}
.gb_A[aria-expanded=true] {
 outline:none;
 -moz-border-radius:50%;
 border-radius:50%
}
.gb_Bc .gb_Te.gb_Ue button:focus svg,
.gb_Bc .gb_Te.gb_Ue button:focus:hover svg,
.gb_Te button:focus svg,
.gb_Te button:focus:hover svg {
 background-color:rgba(60,64,67,0.1)
}
.gb_A:focus {
 background-color:rgba(60,64,67,0.1)
}
.gb_A:focus:hover {
 background-color:rgba(60,64,67,0.1)
}
.gb_Bc .gb_Te.gb_Ue button:active svg,
.gb_Te button:active svg {
 background-color:rgba(60,64,67,0.12)
}
.gb_A:active {
 background-color:rgba(60,64,67,0.12)
}
.gb_Bc .gb_Te.gb_Ue button:hover svg,
.gb_Te button:hover svg {
 background-color:rgba(60,64,67,0.08)
}
.gb_A:hover {
 background-color:rgba(60,64,67,0.08)
}
.gb_ga .gb_A.gb_Ka:hover {
 background-color:transparent
}
.gb_A[aria-expanded=true] {
 background-color:rgba(95,99,104,0.24)
}
.gb_A:hover[aria-expanded=true] {
 background-color:rgba(95,99,104,0.24)
}
.gb_A[aria-expanded=true] .gb_Ve {
 fill:#5f6368;
 opacity:1
}
.gb_A[aria-expanded=true] .gb_We {
 fill:#5f6368;
 opacity:1
}
.gb_Bc .gb_Te button:hover svg,
.gb_Bc .gb_A:hover {
 background-color:rgba(232,234,237,0.08)
}
.gb_Bc .gb_Te button:focus svg,
.gb_Bc .gb_Te button:focus:hover svg,
.gb_Bc .gb_A:focus,
.gb_Bc .gb_A:focus:hover {
 background-color:rgba(232,234,237,0.10)
}
.gb_Bc .gb_Te button:active svg,
.gb_Bc .gb_A:active {
 background-color:rgba(232,234,237,0.12)
}
.gb_Bc .gb_A[aria-expanded=true],
.gb_Bc .gb_A:hover[aria-expanded=true] {
 background-color:rgba(255,255,255,0.12)
}
.gb_Bc .gb_A[aria-expanded=true] .gb_Ve,
.gb_Bc .gb_A[aria-expanded=true] .gb_We {
 fill:#ffffff;
 opacity:1
}
.gb_hd {
 padding:4px
}
.gb_na.gb_Re .gb_hd {
 padding:4px 2px
}
.gb_na.gb_Re .gb_La.gb_hd {
 padding-left:6px
}
.gb_C {
 z-index:991;
 line-height:normal
}
.gb_C.gb_Xe {
 left:8px;
 right:auto
}
@media (max-width:350px) {
 .gb_C.gb_Xe {
  left:0
 }
}
.gb_Ze .gb_C {
 top:56px
}
.gb_z .gb_A,
.gb_B .gb_z .gb_A {
 background-position:-64px -29px
}
.gb_g .gb_z .gb_A {
 background-position:-29px -29px;
 opacity:1
}
.gb_z .gb_A,
.gb_z .gb_A:hover,
.gb_z .gb_A:focus {
 opacity:1
}
.gb_Jd {
 display:none
}
.gb_1c {
 font-family:Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
 font-size:20px;
 font-weight:400;
 letter-spacing:0.25px;
 line-height:48px;
 margin-bottom:2px;
 opacity:1;
 overflow:hidden;
 padding-left:16px;
 position:relative;
 text-overflow:ellipsis;
 vertical-align:middle;
 top:2px;
 white-space:nowrap;
 flex:1 1 auto
}
.gb_1c.gb_2c {
 color:#3c4043
}
.gb_na.gb_oa .gb_1c {
 margin-bottom:0
}
.gb_3c.gb_4c .gb_1c {
 padding-left:4px
}
.gb_na.gb_oa .gb_5c {
 position:relative;
 top:-2px
}
.gb_na {
 color:black;
 min-width:320px;
 position:relative;
 -moz-transition:box-shadow 250ms;
 transition:box-shadow 250ms
}
.gb_na.gb_Kc {
 min-width:240px
}
.gb_na.gb_Kd .gb_Ld {
 display:none
}
.gb_na.gb_Kd .gb_Md {
 height:56px
}
header.gb_na {
 display:block
}
.gb_na svg {
 fill:currentColor
}
.gb_Nd {
 position:fixed;
 top:0;
 width:100%
}
.gb_Od {
 -moz-box-shadow:0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12),0px 2px 4px -1px rgba(0,0,0,0.2);
 box-shadow:0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12),0px 2px 4px -1px rgba(0,0,0,0.2)
}
.gb_Pd {
 height:64px
}
.gb_Md {
 box-sizing:border-box;
 position:relative;
 width:100%;
 display:-webkit-box;
 display:-moz-box;
 display:-ms-flexbox;
 display:-webkit-flex;
 display:flex;
 justify-content:space-between;
 min-width:-webkit-min-content;
 min-width:-moz-min-content;
 min-width:-ms-min-content;
 min-width:min-content
}
.gb_na:not(.gb_oa) .gb_Md {
 padding:8px
}
.gb_na.gb_Qd .gb_Md {
 flex:1 0 auto
}
.gb_na .gb_Md.gb_Rd.gb_Sd {
 min-width:0
}
.gb_na.gb_oa .gb_Md {
 padding:4px;
 padding-left:8px;
 min-width:0
}
.gb_Ld {
 height:48px;
 vertical-align:middle;
 white-space:nowrap;
 -moz-box-align:center;
 align-items:center;
 display:-webkit-box;
 display:-moz-box;
 display:-ms-flexbox;
 display:-webkit-flex;
 display:flex;
 -moz-user-select:-moz-none
}
.gb_Ud>.gb_Ld {
 display:table-cell;
 width:100%
}
.gb_3c {
 padding-right:30px;
 -moz-box-sizing:border-box;
 box-sizing:border-box;
 flex:1 0 auto
}
.gb_na.gb_oa .gb_3c {
 padding-right:14px
}
.gb_Vd {
 flex:1 1 100%
}
.gb_Vd>:only-child {
 display:inline-block
}
.gb_Wd.gb_Tc {
 padding-left:4px
}
.gb_Wd.gb_Xd,
.gb_na.gb_Qd .gb_Wd {
 padding-left:0
}
.gb_na.gb_oa:not(.gb_Zd) .gb_Wd {
 padding-left:0
}
.gb_na.gb_oa .gb_Wd.gb_Xd {
 padding-right:0
}
.gb_na.gb_oa .gb_Wd.gb_Xd .gb_ga {
 margin-left:10px
}
.gb_Tc {
 display:inline
}
.gb_na.gb_Nc .gb_Wd.gb_0d,
.gb_na.gb_Zd .gb_Wd.gb_0d {
 padding-left:2px
}
.gb_1c {
 display:inline-block
}
.gb_Wd {
 box-sizing:border-box;
 height:48px;
 line-height:normal;
 padding:0 4px;
 padding-left:30px;
 flex:0 0 auto;
 justify-content:flex-end
}
.gb_Zd {
 height:48px
}
.gb_na.gb_Zd {
 min-width:initial;
 min-width:auto
}
.gb_Zd .gb_Wd {
 float:right;
 padding-left:32px
}
.gb_Zd .gb_Wd.gb_1d {
 padding-left:0
}
.gb_2d {
 font-size:14px;
 max-width:200px;
 overflow:hidden;
 padding:0 12px;
 text-overflow:ellipsis;
 white-space:nowrap;
 -moz-user-select:text
}
.gb_3d {
 transition:background-color .4s
}
.gb_4d {
 color:black
}
.gb_Bc {
 color:white
}
.gb_na a,
.gb_Hc a {
 color:inherit
}
.gb_q {
 color:rgba(0,0,0,0.87)
}
.gb_na svg,
.gb_Hc svg,
.gb_3c .gb_5d,
.gb_Sc .gb_5d {
 color:#5f6368;
 opacity:1
}
.gb_Bc svg,
.gb_Hc.gb_Lc svg,
.gb_Bc .gb_3c .gb_5d,
.gb_Bc .gb_3c .gb_Ac,
.gb_Bc .gb_3c .gb_5c,
.gb_Hc.gb_Lc .gb_5d {
 color:rgba(255,255,255,0.87)
}
.gb_Bc .gb_3c .gb_zc:not(.gb_6d) {
 opacity:0.87
}
.gb_2c {
 color:inherit;
 opacity:1;
 text-rendering:optimizeLegibility;
 -moz-osx-font-smoothing:grayscale
}
.gb_Bc .gb_2c,
.gb_4d .gb_2c {
 opacity:1
}
.gb_7d {
 position:relative
}
.gb_8d {
 font-family:arial,sans-serif;
 line-height:normal;
 padding-right:15px
}
a.gb_d,
span.gb_d {
 color:rgba(0,0,0,0.87);
 text-decoration:none
}
.gb_Bc a.gb_d,
.gb_Bc span.gb_d {
 color:white
}
a.gb_d:focus {
 outline-offset:2px
}
a.gb_d:hover {
 text-decoration:underline
}
.gb_e {
 display:inline-block;
 padding-left:15px
}
.gb_e .gb_d {
 display:inline-block;
 line-height:24px;
 vertical-align:middle
}
.gb_9d {
 font-family:Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
 font-weight:500;
 font-size:14px;
 letter-spacing:0.25px;
 line-height:16px;
 margin-left:10px;
 margin-right:8px;
 min-width:96px;
 padding:9px 23px;
 text-align:center;
 vertical-align:middle;
 -moz-border-radius:4px;
 border-radius:4px;
 -moz-box-sizing:border-box;
 box-sizing:border-box
}
.gb_na.gb_Zd .gb_9d {
 margin-left:8px
}
#gb a.gb_1.gb_1.gb_9d,
#gb a.gb_0.gb_0.gb_9d {
 cursor:pointer
}
.gb_1.gb_9d:hover {
 background:#2b7de9;
 -moz-box-shadow:0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
 box-shadow:0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15)
}
.gb_1.gb_9d:focus {
 background:#5094ed;
 -moz-box-shadow:0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
 box-shadow:0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15)
}
.gb_1.gb_9d:hover:focus {
 background:#5094ed;
 -moz-box-shadow:0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
 box-shadow:0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15)
}
.gb_1.gb_9d:active {
 background:#63a0ef;
 -moz-box-shadow:0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
 box-shadow:0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15)
}
.gb_9d:not(.gb_0) {
 background:#1a73e8;
 border:1px solid transparent
}
.gb_na.gb_oa .gb_9d {
 padding:9px 15px;
 min-width:80px
}
.gb_ae {
 text-align:left
}
#gb a.gb_9d.gb_0,
#gb .gb_Bc a.gb_9d,
#gb.gb_Bc a.gb_9d {
 background:#ffffff;
 border-color:#dadce0;
 -moz-box-shadow:none;
 box-shadow:none;
 color:#1a73e8
}
#gb a.gb_1.gb_ha.gb_9d {
 background:#8ab4f8;
 border:1px solid transparent;
 -moz-box-shadow:none;
 box-shadow:none;
 color:#202124
}
#gb a.gb_9d.gb_0:hover,
#gb .gb_Bc a.gb_9d:hover,
#gb.gb_Bc a.gb_9d:hover {
 background:#f8fbff;
 border-color:#cce0fc
}
#gb a.gb_1.gb_ha.gb_9d:hover {
 background:#93baf9;
 border-color:transparent;
 -moz-box-shadow:0 1px 3px 1px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.3);
 box-shadow:0 1px 3px 1px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.3)
}
#gb a.gb_9d.gb_0:focus,
#gb a.gb_9d.gb_0:focus:hover,
#gb .gb_Bc a.gb_9d:focus,
#gb .gb_Bc a.gb_9d:focus:hover,
#gb.gb_Bc a.gb_9d:focus,
#gb.gb_Bc a.gb_9d:focus:hover {
 background:#f4f8ff;
 border-color:#c9ddfc
}
#gb a.gb_1.gb_ha.gb_9d:focus,
#gb a.gb_1.gb_ha.gb_9d:focus:hover {
 background:#a6c6fa;
 border-color:transparent;
 -moz-box-shadow:none;
 box-shadow:none
}
#gb a.gb_9d.gb_0:active,
#gb .gb_Bc a.gb_9d:active,
#gb.gb_Bc a.gb_9d:active {
 background:#ecf3fe
}
#gb a.gb_1.gb_ha.gb_9d:active {
 background:#a1c3f9;
 -moz-box-shadow:0 1px 2px rgba(60,64,67,0.3),0 2px 6px 2px rgba(60,64,67,0.15);
 box-shadow:0 1px 2px rgba(60,64,67,0.3),0 2px 6px 2px rgba(60,64,67,0.15)
}
#gb a.gb_9d.gb_0:not(.gb_ha):active {
 -moz-box-shadow:0 1px 2px 0 rgba(60,64,67,0.3),0 2px 6px 2px rgba(60,64,67,0.15);
 box-shadow:0 1px 2px 0 rgba(60,64,67,0.3),0 2px 6px 2px rgba(60,64,67,0.15)
}
.gb_ga {
 background-color:rgba(255,255,255,0.88);
 border:1px solid #dadce0;
 box-sizing:border-box;
 cursor:pointer;
 display:inline-block;
 max-height:48px;
 overflow:hidden;
 outline:none;
 padding:0;
 vertical-align:middle;
 width:134px;
 -moz-border-radius:8px;
 border-radius:8px
}
.gb_ga.gb_ha {
 background-color:transparent;
 border:1px solid #5f6368
}
.gb_ia {
 display:inherit
}
.gb_ga.gb_ha .gb_ia {
 background:#ffffff;
 -moz-border-radius:4px;
 border-radius:4px;
 display:inline-block;
 left:8px;
 margin-right:5px;
 position:relative;
 padding:3px;
 top:-1px
}
.gb_ga:hover {
 border:1px solid #d2e3fc;
 background-color:rgba(248,250,255,0.88)
}
.gb_ga.gb_ha:hover {
 background-color:rgba(241,243,244,0.04);
 border:1px solid #5f6368
}
.gb_ga:focus {
 background-color:rgba(255,255,255);
 border:1px solid #fff;
 -moz-box-shadow:0px 1px 2px 0px rgba(60,64,67,0.3),0px 1px 3px 1px rgba(60,64,67,0.15);
 box-shadow:0px 1px 2px 0px rgba(60,64,67,0.3),0px 1px 3px 1px rgba(60,64,67,0.15)
}
.gb_ga.gb_ha:focus {
 background-color:rgba(241,243,244,0.12);
 border:1px solid #f1f3f4;
 -moz-box-shadow:0 1px 3px 1px rgba(0,0,0,0.15),0 1px 2px 0 rgba(0,0,0,0.3);
 box-shadow:0 1px 3px 1px rgba(0,0,0,0.15),0 1px 2px 0 rgba(0,0,0,0.3)
}
.gb_ga.gb_ha:active {
 background-color:rgba(241,243,244,0.1);
 border:1px solid #5f6368
}
.gb_ga.gb_ja.gb_ha:focus {
 background-color:rgba(241,243,244,0.1);
 border:1px solid #5f6368
}
.gb_ka {
 display:inline-block;
 padding-bottom:2px;
 padding-left:7px;
 padding-top:2px;
 text-align:center;
 vertical-align:middle;
 line-height:32px;
 width:78px
}
.gb_ga.gb_ha .gb_ka {
 line-height:26px;
 margin-left:0;
 padding-bottom:0;
 padding-left:0;
 padding-top:0;
 width:72px
}
.gb_ka.gb_la {
 background-color:#f1f3f4;
 -moz-border-radius:4px;
 border-radius:4px;
 margin-left:8px;
 padding-left:0
}
.gb_ka.gb_la .gb_ma {
 vertical-align:middle
}
.gb_na:not(.gb_oa) .gb_ga {
 margin-left:10px;
 margin-right:4px
}
.gb_pa {
 max-height:32px;
 width:78px
}
.gb_ga.gb_ha .gb_pa {
 max-height:26px;
 width:72px
}
.gb_Aa {
 background-size:32px 32px;
 border:0;
 -moz-border-radius:50%;
 border-radius:50%;
 display:block;
 margin:0px;
 position:relative;
 height:32px;
 width:32px;
 z-index:0
}
.gb_Ba {
 background-color:#e8f0fe;
 border:1px solid rgba(32,33,36,.08);
 position:relative
}
.gb_Ba.gb_Aa {
 height:30px;
 width:30px
}
.gb_Ba.gb_Aa:hover {
 -moz-box-shadow:none;
 box-shadow:none
}
.gb_Ba.gb_Aa:active {
 -moz-box-shadow:none;
 box-shadow:none
}
.gb_Ca {
 background:#fff;
 border:none;
 -moz-border-radius:50%;
 border-radius:50%;
 bottom:2px;
 -moz-box-shadow:0px 1px 2px 0px rgba(60,64,67,.30),0px 1px 3px 1px rgba(60,64,67,.15);
 box-shadow:0px 1px 2px 0px rgba(60,64,67,.30),0px 1px 3px 1px rgba(60,64,67,.15);
 height:14px;
 margin:2px;
 position:absolute;
 right:0;
 width:14px
}
.gb_Da {
 color:#1f71e7;
 font:400 22px/32px Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
 text-align:center;
 text-transform:uppercase
}
@media (min-resolution:1.25dppx),(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-device-pixel-ratio:1.25) {
 .gb_Aa::before {
  display:inline-block;
  -moz-transform:scale(.5);
  transform:scale(.5);
  -moz-transform-origin:left 0;
  transform-origin:left 0
 }
 .gb_Ea::before {
  display:inline-block;
  -moz-transform:scale(.5);
  transform:scale(.5);
  -moz-transform-origin:left 0;
  transform-origin:left 0
 }
 .gb_i .gb_Ea::before {
  -moz-transform:scale(0.416666667);
  transform:scale(0.416666667)
 }
}
.gb_Aa:hover {
 -moz-box-shadow:0 1px 0 rgba(0,0,0,.15);
 box-shadow:0 1px 0 rgba(0,0,0,.15)
}
.gb_Aa:focus {
 -moz-box-shadow:0 1px 0 rgba(0,0,0,.15);
 box-shadow:0 1px 0 rgba(0,0,0,.15)
}
.gb_Aa:active {
 -moz-box-shadow:inset 0 2px 0 rgba(0,0,0,.15);
 box-shadow:inset 0 2px 0 rgba(0,0,0,.15)
}
.gb_Aa:active::after {
 background:rgba(0,0,0,.1);
 -moz-border-radius:50%;
 border-radius:50%;
 content:'';
 display:block;
 height:100%
}
.gb_Fa {
 cursor:pointer;
 line-height:40px;
 min-width:30px;
 opacity:.75;
 overflow:hidden;
 vertical-align:middle;
 text-overflow:ellipsis
}
.gb_A.gb_Fa {
 width:auto
}
.gb_Fa:hover {
 opacity:.85
}
.gb_Fa:focus {
 opacity:.85
}
.gb_Ha .gb_Fa,
.gb_Ha .gb_Ia {
 line-height:26px
}
#gb#gb.gb_Ha a.gb_Fa,
.gb_Ha .gb_Ia {
 font-size:11px;
 height:auto
}
.gb_Ja {
 border-top:4px solid #000;
 border-left:4px dashed transparent;
 border-right:4px dashed transparent;
 display:inline-block;
 margin-left:6px;
 opacity:.75;
 vertical-align:middle
}
.gb_Ka:hover .gb_Ja {
 opacity:.85
}
.gb_ga>.gb_La {
 padding:3px 3px 3px 4px
}
.gb_Ma.gb_za {
 color:#fff
}
.gb_Aa.gb_Na {
 clip-path:path('M16 0C24.8366 0 32 7.16344 32 16C32 16.4964 31.9774 16.9875 31.9332 17.4723C30.5166 16.5411 28.8215 16 27 16C22.0294 16 18 20.0294 18 25C18 27.4671 18.9927 29.7024 20.6004 31.3282C19.1443 31.7653 17.5996 32 16 32C7.16344 32 0 24.8366 0 16C0 7.16344 7.16344 0 16 0Z')
}
.gb_Oa {
 -moz-border-radius:50%;
 border-radius:50%;
 -moz-box-shadow:0px 1px 2px 0px rgba(60,64,67,.30),0px 1px 3px 1px rgba(60,64,67,.15);
 box-shadow:0px 1px 2px 0px rgba(60,64,67,.30),0px 1px 3px 1px rgba(60,64,67,.15);
 margin:2px
}
.gb_Pa {
 fill:#d93025
}
.gb_Qa {
 fill:white
}
.gb_ha .gb_Pa {
 fill:#f28b82
}
.gb_ha .gb_Qa {
 fill:#202124
}
.gb_Ra {
 -moz-border-radius:50%;
 border-radius:50%;
 bottom:2px;
 height:18px;
 position:absolute;
 right:0px;
 width:18px
}
.gb_g .gb_Fa,
.gb_g .gb_Ja {
 opacity:1
}
#gb#gb.gb_g.gb_g a.gb_Fa,
#gb#gb .gb_g.gb_g a.gb_Fa {
 color:#fff
}
.gb_g.gb_g .gb_Ja {
 border-top-color:#fff;
 opacity:1
}
.gb_B .gb_Aa:hover,
.gb_g .gb_Aa:hover,
.gb_B .gb_Aa:focus,
.gb_g .gb_Aa:focus {
 -moz-box-shadow:0 1px 0 rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.2);
 box-shadow:0 1px 0 rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.2)
}
.gb_Va .gb_La,
.gb_Wa .gb_La {
 position:absolute;
 right:1px
}
.gb_La.gb_f,
.gb_Xa.gb_f,
.gb_Ka.gb_f {
 flex:0 1 auto;
 flex:0 1 main-size
}
.gb_Za.gb_0a .gb_Fa {
 width:30px!important
}
.gb_1a {
 height:40px;
 position:absolute;
 right:-5px;
 top:-5px;
 width:40px
}
.gb_2a .gb_1a,
.gb_3a .gb_1a {
 right:0;
 top:0
}
.gb_La .gb_A {
 padding:4px
}
.gb_ce {
 display:none
}
sentinel {
}
.z1asCe {
 display:inline-block;
 fill:currentColor;
 height:24px;
 line-height:24px;
 position:relative;
 width:24px
}
.z1asCe svg {
 display:block;
 height:100%;
 width:100%
}
